{
  "singleQuote": false,
  "semi": true,
  "trailingComma": "all",
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "bracketSameLine": false,
  "singleAttributePerLine": true,
  "proseWrap": "preserve",
  "quoteProps": "consistent",
  "endOfLine": "lf",
  "plugins": ["prettier-plugin-jsdoc"]
}
